include LICENSE
include acsql/utils/config.yaml
include acsql/database/table_definitions/hrc_asn_0.txt
include acsql/database/table_definitions/hrc_asn_1.txt
include acsql/database/table_definitions/hrc_crj_0.txt
include acsql/database/table_definitions/hrc_crj_1.txt
include acsql/database/table_definitions/hrc_crj_2.txt
include acsql/database/table_definitions/hrc_crj_3.txt
include acsql/database/table_definitions/hrc_drz_0.txt
include acsql/database/table_definitions/hrc_drz_1.txt
include acsql/database/table_definitions/hrc_drz_2.txt
include acsql/database/table_definitions/hrc_drz_3.txt
include acsql/database/table_definitions/hrc_flt_0.txt
include acsql/database/table_definitions/hrc_flt_1.txt
include acsql/database/table_definitions/hrc_flt_2.txt
include acsql/database/table_definitions/hrc_flt_3.txt
include acsql/database/table_definitions/hrc_jif_0.txt
include acsql/database/table_definitions/hrc_jif_1.txt
include acsql/database/table_definitions/hrc_jif_2.txt
include acsql/database/table_definitions/hrc_jit_0.txt
include acsql/database/table_definitions/hrc_jit_1.txt
include acsql/database/table_definitions/hrc_jit_2.txt
include acsql/database/table_definitions/hrc_raw_0.txt
include acsql/database/table_definitions/hrc_raw_1.txt
include acsql/database/table_definitions/hrc_raw_2.txt
include acsql/database/table_definitions/hrc_raw_3.txt
include acsql/database/table_definitions/hrc_spt_0.txt
include acsql/database/table_definitions/hrc_spt_1.txt
include acsql/database/table_definitions/sbc_asn_0.txt
include acsql/database/table_definitions/sbc_asn_1.txt
include acsql/database/table_definitions/sbc_drz_0.txt
include acsql/database/table_definitions/sbc_drz_1.txt
include acsql/database/table_definitions/sbc_drz_2.txt
include acsql/database/table_definitions/sbc_drz_3.txt
include acsql/database/table_definitions/sbc_flt_0.txt
include acsql/database/table_definitions/sbc_flt_1.txt
include acsql/database/table_definitions/sbc_flt_2.txt
include acsql/database/table_definitions/sbc_flt_3.txt
include acsql/database/table_definitions/sbc_jif_0.txt
include acsql/database/table_definitions/sbc_jif_1.txt
include acsql/database/table_definitions/sbc_jif_2.txt
include acsql/database/table_definitions/sbc_jit_0.txt
include acsql/database/table_definitions/sbc_jit_1.txt
include acsql/database/table_definitions/sbc_jit_2.txt
include acsql/database/table_definitions/sbc_raw_0.txt
include acsql/database/table_definitions/sbc_raw_1.txt
include acsql/database/table_definitions/sbc_raw_2.txt
include acsql/database/table_definitions/sbc_raw_3.txt
include acsql/database/table_definitions/sbc_spt_0.txt
include acsql/database/table_definitions/sbc_spt_1.txt
include acsql/database/table_definitions/wfc_asn_0.txt
include acsql/database/table_definitions/wfc_asn_1.txt
include acsql/database/table_definitions/wfc_crc_0.txt
include acsql/database/table_definitions/wfc_crc_1.txt
include acsql/database/table_definitions/wfc_crc_2.txt
include acsql/database/table_definitions/wfc_crc_3.txt
include acsql/database/table_definitions/wfc_crc_4.txt
include acsql/database/table_definitions/wfc_crc_5.txt
include acsql/database/table_definitions/wfc_crc_6.txt
include acsql/database/table_definitions/wfc_crj_0.txt
include acsql/database/table_definitions/wfc_crj_1.txt
include acsql/database/table_definitions/wfc_crj_2.txt
include acsql/database/table_definitions/wfc_crj_3.txt
include acsql/database/table_definitions/wfc_crj_4.txt
include acsql/database/table_definitions/wfc_crj_5.txt
include acsql/database/table_definitions/wfc_crj_6.txt
include acsql/database/table_definitions/wfc_drc_0.txt
include acsql/database/table_definitions/wfc_drc_1.txt
include acsql/database/table_definitions/wfc_drc_2.txt
include acsql/database/table_definitions/wfc_drc_3.txt
include acsql/database/table_definitions/wfc_drz_0.txt
include acsql/database/table_definitions/wfc_drz_1.txt
include acsql/database/table_definitions/wfc_drz_2.txt
include acsql/database/table_definitions/wfc_drz_3.txt
include acsql/database/table_definitions/wfc_flc_0.txt
include acsql/database/table_definitions/wfc_flc_1.txt
include acsql/database/table_definitions/wfc_flc_2.txt
include acsql/database/table_definitions/wfc_flc_3.txt
include acsql/database/table_definitions/wfc_flc_4.txt
include acsql/database/table_definitions/wfc_flc_5.txt
include acsql/database/table_definitions/wfc_flc_6.txt
include acsql/database/table_definitions/wfc_flt_0.txt
include acsql/database/table_definitions/wfc_flt_1.txt
include acsql/database/table_definitions/wfc_flt_2.txt
include acsql/database/table_definitions/wfc_flt_3.txt
include acsql/database/table_definitions/wfc_flt_4.txt
include acsql/database/table_definitions/wfc_flt_5.txt
include acsql/database/table_definitions/wfc_flt_6.txt
include acsql/database/table_definitions/wfc_jif_0.txt
include acsql/database/table_definitions/wfc_jif_1.txt
include acsql/database/table_definitions/wfc_jif_2.txt
include acsql/database/table_definitions/wfc_jif_3.txt
include acsql/database/table_definitions/wfc_jif_4.txt
include acsql/database/table_definitions/wfc_jif_5.txt
include acsql/database/table_definitions/wfc_jif_6.txt
include acsql/database/table_definitions/wfc_jit_0.txt
include acsql/database/table_definitions/wfc_jit_1.txt
include acsql/database/table_definitions/wfc_jit_2.txt
include acsql/database/table_definitions/wfc_jit_3.txt
include acsql/database/table_definitions/wfc_jit_4.txt
include acsql/database/table_definitions/wfc_jit_5.txt
include acsql/database/table_definitions/wfc_jit_6.txt
include acsql/database/table_definitions/wfc_raw_0.txt
include acsql/database/table_definitions/wfc_raw_1.txt
include acsql/database/table_definitions/wfc_raw_2.txt
include acsql/database/table_definitions/wfc_raw_3.txt
include acsql/database/table_definitions/wfc_raw_4.txt
include acsql/database/table_definitions/wfc_raw_5.txt
include acsql/database/table_definitions/wfc_raw_6.txt
include acsql/database/table_definitions/wfc_spt_0.txt
include acsql/database/table_definitions/wfc_spt_1.txt
