{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/../static/css/loader.css">
<link rel="stylesheet" href="/../static/css/view_proposal.css">

<div class="row">
    <div class="span12">

    <!-- Header -->
    {% if proposal_dict.num_images %}
        <h3>Proposal {{proposal_dict.proposal_id}} {% if proposal_dict.proposal_title %}<small>{{proposal_dict.proposal_title}}{% endif %}</small></h3>
        {% if proposal_dict.buttons %}
        <form id="filtering" style="margin-bottom:0;">

            <!-- Filter -->
            <div id="filterOptions" class="container">
                <div class="form-group">
                    {% if proposal_dict.cycle %}Cycle {{proposal_dict.cycle}}, {{proposal_dict.schedule}}<br>{% endif %}
                    {{proposal_dict.num_images}} images{% if proposal_dict.num_visits %}, {{proposal_dict.num_visits}} visits{% endif %}
                    <br>
                    <a href={{proposal_dict.status_page}} target="_blank">Proposal info</a>
                </div>
                {% for key,buttonlist in proposal_dict.buttons.items() %}
                    <div class="form-group">
                        <label for="{{key}}">Show only {{key}}:</label>
                        <select class="form-control" id="{{key}}">
                            <option value="all">All {{key}}s</option>
                            {% for b in buttonlist %}
                                <option value="{{b}}">{{b}}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>

            <!-- Sort By -->
            <div class="row" id="sortOptions">
                <div class="span6">
                    Sort by:&nbsp;&nbsp;
                    <label class="radio inline"><input type="radio" name="sort" id="unsort" checked>default</label>
                    <label class="radio inline"><input type="radio" name="sort" id="sort-expstart">expstart</label>
                    <label class="radio inline"><input type="radio" name="sort" id="sort-exptime">exptime</label>
                </div>
                <div class="span5 text-right">
                {% if proposal_dict.buttons|length > 2 %}
                    Filter logic:&nbsp;&nbsp;
                    <label class="radio inline"><input type="radio" name="logic" value="and" checked>"AND"</label>
                    <label class="radio inline"><input type="radio" name="logic" value="or">"OR"</label>
                {% endif %}
                </div>
                <div class="span1 text-right">
                    <button id="clear" class="btn btn-danger" type="reset" value="Reset">Clear</button>
                </div>
            </div>
        </form>
        {% endif %}

            <!-- Loading animation -->
            <div id="loading">
                <div class="cssload-loader-inner" style="height:100px;margin:0 auto;">
                    <div class="cssload-cssload-loader-line-wrap-wrap">
                        <div class="cssload-loader-line-wrap"></div>
                    </div>
                    <div class="cssload-cssload-loader-line-wrap-wrap">
                        <div class="cssload-loader-line-wrap"></div>
                    </div>
                    <div class="cssload-cssload-loader-line-wrap-wrap">
                        <div class="cssload-loader-line-wrap"></div>
                    </div>
                    <div class="cssload-cssload-loader-line-wrap-wrap">
                        <div class="cssload-loader-line-wrap"></div>
                    </div>
                    <div class="cssload-cssload-loader-line-wrap-wrap">
                        <div class="cssload-loader-line-wrap"></div>
                    </div>
                </div>
                <br>
                Loading thumbnails...
            </div>

            <!-- Thumbnails -->
            <div id="onload">
                <div id="thumbnail-array">
                    {% for i in range(proposal_dict.num_images) %}
                        <div class="thumb" page="{{i+1}}" detector="{{proposal_dict.detectors[i]}}" filter1="{{proposal_dict.filter1s[i]}}" filter2="{{proposal_dict.filter2s[i]}}" expstart="{{proposal_dict.expstarts[i]}}"  exptime="{{proposal_dict.exptimes[i]}}" targname="{{proposal_dict.targnames[i]}}" proposid="{{proposal_dict.proposal_id}}" visit="{{proposal_dict.visits[i]}}" style="background:url(/../{{proposal_dict.thumbs[i]}}) no-repeat;">
                            <div class="overlay">
                                <strong>{{proposal_dict.filenames[i]}}</strong><br>
                                Detector: {{proposal_dict.detectors[i]}}
                                Filter: {{proposal_dict.filter1s[i]}} / {{proposal_dict.filter2s[i]}}<br>
                                Exptime: {{proposal_dict.exptimes[i]}}<br>
                                Target: {{proposal_dict.targnames[i]}}<br>
                            </div>
                            <a href="{{proposal_dict.viewlinks[i]}}" target="_blank">
                                <img src="{{proposal_dict.thumbs[i]}}", style="opacity:0;">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% else %}
        <p>
            <h5>There are no images to display.</h5>
        </p>
    {% endif %}
    </div>
</div>

<script type="text/javascript">
    function preloader(){
        document.getElementById("loading").style.display = "none";
        document.getElementById("onload").style.display = "block";
        $(".thumb img").attr('src', '/../static/img/wow.png');
    }
    window.onload = preloader;
</script>

<script src="/../static/js/tinysort.min.js"></script>
<script src="/../static/js/thumbnails.js"></script>

{% endblock %}
